.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #01228d;
    height: 20vh;
    align-items: center;
}

nav{
    font-size: 3vh;
    width: 50%;
    margin: 0;
}

li {
    display: inline;
    margin-right: 4rem;
}

a {
    color: #ebebeb;
}